body {
    background-color:#0A4A51;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}
table {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border-spacing: 0;
  background-color: #FFF;
  word-break: break-all;
}

table th,
table td {
  padding: 1em;
  font-size: 0.8em;
  text-align: left;
  font-weight: normal;
}

table th {
  padding-top: 0;
  font-size: 0.7em;
  text-transform: uppercase;
  opacity: 0.5;
}

table tbody tr:nth-child(odd) {
  background-color: #F7F8FA;
}

table tbody tr:hover {
  background-color: rgb(100, 196, 205);
  background-color: rgba(100, 196, 205, 0.2);
}

.table-action {
  opacity: 0.5;
}

.table-action:hover {
  opacity: 1;
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 2px;
  background-color: #F7F8FA;
}

.box > h2 {
  display: block;
  border-bottom: 1px solid #B7BBC8;
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}
.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

.loader {
  border: 5px solid #e8e6e4;
  border-radius: 50%;
  border-top: 5px solid #4bcc94;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position:relative;
  left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
